# Telegram Bot Configuration
BOT_TOKEN=8564503876:AAGVLv60Clgrgo3pZu8TMc6nMmkBMlU1bq8

# Supabase Configuration
SUPABASE_URL=https://onyhwndwqrqqfsmbxboi.supabase.co
SUPABASE_KEY=sb_publishable_11xFvYosuYtjm4naRUssIA_PEVqyczS

# Owner Configuration
OWNER_ID=5639206899
OWNER_USERNAME=kLeqwiss
